.div-table {
  display: table;
  width: auto;
  background-color: #eee;
  border-spacing: 5px;
}
.div-table-row {
  display: table-row;
  width: auto;
  clear: both;
}
.div-table-col {
  float: left;
  display: table-column;
  width: 200px;
  background-color: #ccc;
}
.div-table-header {
  font-weight: bold
}

.parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  border: 1px black solid;
  margin: 0 auto;
  background-color: #eee;
}
